<.header>
    LinkedIn Automation
    <:subtitle>
        Automate your LinkedIn connections and messages
    </:subtitle>
</.header>
<.live_component 
    module={CompanyCommanderWeb.AutomationLive.LinkedinAutomationLive.LinkedinDogComponent}
    id="linkedin-dog-component"
    current_user={@current_user}
/>